@model mungmunglogServer.Models.History

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>History</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contents)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contents)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileUrl1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileUrl1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileUrl2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileUrl2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileUrl3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileUrl3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileUrl4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileUrl4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileUrl5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileUrl5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pet.Breed)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FamilyMember)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FamilyMember.FamilyMemberId)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="HistoryId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
