@model IEnumerable<mungmunglogServer.Models.History>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contents)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileUrl1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileUrl2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileUrl3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileUrl4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileUrl5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FamilyMember)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contents)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileUrl1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileUrl2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileUrl3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileUrl4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileUrl5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pet.PetId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FamilyMember.FamilyMemberId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HistoryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HistoryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HistoryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
